<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>进制转换计算器</title>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8">
		</script>
	</head>
	<body background="./img/094e686ec3e9a925f0458c230072f262.png">
		<div align="center" class="toolName" style="font-size: 40px;"></div>
		<div id="app">
		<div align="center">
			2进制数值：<input type="text" v-model="num2"/>
			8进制数值：<input type="text" v-model="num8"/>
			10进制数值：<input type="text" v-model="num10"/>
			16进制数值：<input type="text" v-model="num16"/>
			<input type="button" value="转换" @click="jisuan()"/>
		</div>
		</div>
		<script>
			let v=new Vue({
				el:"#app",
				data:{
					num2:0,
					num8:0,
					num10:0,
					num16:0,
					name:"dfs"
				},
				methods:{
					jisuan(){
						// alert("成功")
						if (this.num2 != 0) {
							this.r2();
						}
						if(this.num8 != 0){
							this.r8();
						}
						if(this.num10 != 0){
							this.r10();
						}
						if(this.num16 != 0){
							this.r16();
						}
						
					},
					r2(){
						var a=parseInt(this.num2,2);
						this.num8=a.toString(8);
						this.num10=a;
						this.num16=a.toString(16);
					},
					r8(){
						var a=parseInt(this.num8,8);
						this.num2=a.toString(2);
						this.num10=a;
						this.num16=a.toString(16);
					},
					r10(){
						var a=parseInt(this.num10,10);
						this.num2=a.toString(2);
						this.num8=a.toString(8);
						this.num16=a.toString(16);
					},
					r16(){
						var a=parseInt(this.num16,16);
						this.num8=a.toString(8);
						this.num10=a;
						this.num2=a.toString(2);
					},
					text1(){
						this.test2();
					},
					test2(){
						alert("成功");
					}
				}
			})
			
		</script>
	</body>
</html>
